body{
    font: normal 15pt Arial;
    background-color: #ccf;
}header{
    color: rgba(29, 26, 26, 0.774);
    text-align: center;
}
section{
    margin: auto;
    width: 500px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.322);
}